<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.draw1.Draw1Activity" />

        <activity android:name=".ui.text.TextActivity" />
        <activity android:name=".ui.text.ScrollNumberViewActivity" />

        <activity android:name=".ui.image.ImageActivity" />
        <activity android:name=".ui.image.GraphicsVerifyViewActivity" />

        <activity android:name=".ui.progressbar.ProgressBarActivity" />
        <activity android:name=".ui.progressbar.CometProgressBarActivity" />
        <activity android:name=".ui.progressbar.InfiniteScrollProgressBarActivity" />

        <activity android:name=".ui.container.ContainerActivity" />
        <activity android:name=".ui.container.MarqueeLayoutActivity" />
        <activity android:name=".ui.container.FlipStereoLayoutActivity" />

        <activity android:name=".ui.animation.AnimationActivity" />
        <activity android:name=".ui.animation.RippleLikeViewActivity" />
        <activity android:name=".ui.animation.DragRestoredViewActivity" />
        <activity android:name=".ui.animation.StereoBallSportViewActivity" />

    </application>

</manifest>